*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container{
    padding:  20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 550px;
    background-color: rgb(255, 94, 0);
    border-radius: 15px;
    border: 3px solid rgb(46, 0, 0);
}
.display{
    background-color: oldlace;
    width: 260px;
    height: 25%;
    border-radius: 10px;
    margin-left: 5px;
    font: 50px;
    color: black;
    text-align: end;
}
.text-field{
   /* background-color: aqua;*/
    height: 69%;
    margin-top: 20px;
    border-radius: 10px;
    width: 260px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    padding: 5px;
}
.box{
    width: 40px;
    height: 45px;
    border: 2px solid rgb(46, 0, 0);
    border-radius: 9px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
